.wrapper-footer {
    display: grid;
    /* grid-template-columns: 10% 23% 10% 23% 10% 23%; */
    
    grid-template-columns: auto auto auto ;    
    width: 100%;
    margin-top: 30px;
    gap: 30px;
}

.wrapper-footer img {
    height: 160px;
    width: 100px;
}

.wrapper-footer h1 {
    color: hsl(233, 8%, 79%);
}

.wrapper-footer p {
    color: hsl(233, 8%, 79%);
    font-size: 15px;
}

.wrapper-footer .wrap1 {
    display: flex;
}

.wrapper-footer .wrap2 {
    display: flex;
}

.wrapper-footer .wrap3 {
    display: flex;
}

.wrap-text {
    margin-left: 20px;
}